* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 32px;
}

header a {
  text-decoration: none;
  color: black;
  padding: 10px 30px;
}

header a:hover {
  text-decoration: none;
  color: white;
  background-color: #009951;
  border-radius: 8px;
}

.nav-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* title */
.title {
  background-color: #ddfad4;
  padding: 64px;
}

.container {
  padding: 20px;
  background-color: #e9ecef;
}

/* main */
main {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.img-bg {
  position: absolute;
  bottom: 0;
}

main nav {
  width: 30%;
}

nav img {
  border-radius: 15px;
  margin-bottom: 20px;
}

.desc {
  width: 60%;
  color: #5a5a5a;
  line-height: 20px;
  font-size: 18px;
}

.desc p {
  text-indent: 20px;
}

.special h3 {
  color: #2dcf57;
  margin-bottom: 10px;
}

.special {
  border-left: 2px solid black;
  padding-left: 10px;
}

.special ul {
  padding-left: 25px;
}

.link-display {
  background-color: #d6f8d6;
  margin: 0 auto 40px 0;
  text-align: left;
  padding: 25px;
  font-weight: bold;
  font-style: italic;
  border-radius: 15px;
  cursor: pointer;
}

.link-display-active {
  background-color: #d9d9d9;
}

.border-active {
  border-left: 5px solid green;
  border-radius: 2px;
  padding-left: 10px;
}

.display-hilang {
  display: none;
}

.content-container {
  display: none; /* Sembunyikan semua container secara default */
}

.content-container.active {
  display: block; /* Tampilkan hanya container aktif */
}
