.fomulir-dasboard {
  background-color: #e9ecef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.fomulir-dasboard .div {
  background-color: #e9ecef;
  width: 1440px;
  height: 2106px;
  position: relative;
}

.fomulir-dasboard .overlap {
  position: absolute;
  width: 1440px;
  height: 380px;
  top: 72px;
  left: 0;
}

.fomulir-dasboard .graphic-side {
  position: absolute;
  width: 1440px;
  height: 235px;
  top: 0;
  left: 0;
}

.fomulir-dasboard .pricing {
  display: flex;
  width: 1386px;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  top: 206px;
  left: 27px;
}

.fomulir-dasboard .frame {
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 170px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
}

.fomulir-dasboard .div-wrapper {
  margin-left: -18px;
  margin-right: -18px;
  display: inline-flex;
  flex-direction: column;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
}

.fomulir-dasboard .text-wrapper {
  position: relative;
  width: 233px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
}

.fomulir-dasboard .frame-2 {
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  border-color: #09c509;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid;
}

.fomulir-dasboard .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.fomulir-dasboard .frame-3 {
  margin-left: -5px;
  margin-right: -5px;
  display: inline-flex;
  flex-direction: column;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
}

.fomulir-dasboard .p {
  position: relative;
  width: 207px;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
}

.fomulir-dasboard .frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #09c509;
  border-radius: 4px;
}

.fomulir-dasboard .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--ffffff-bg-1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.fomulir-dasboard .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -5px;
  margin-right: -5px;
}

.fomulir-dasboard .frame-6 {
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 174px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
}

.fomulir-dasboard .frame-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 959px;
  position: absolute;
  top: 16px;
  left: 1110px;
}

.fomulir-dasboard .frame-7 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.fomulir-dasboard .frame-8 {
  position: relative;
  width: 31px;
  height: 31px;
}

.fomulir-dasboard .iconly-bulk {
  position: relative;
  width: 24px;
  height: 24px;
}

.fomulir-dasboard .user {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.fomulir-dasboard .beared-min {
  position: relative;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.fomulir-dasboard .austin-robertson-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.fomulir-dasboard .austin-robertson {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h6-16px-regular-inter-font-family);
  font-weight: var(--h6-16px-regular-inter-font-weight);
  color: var(--x232d42-text-color-1);
  font-size: var(--h6-16px-regular-inter-font-size);
  letter-spacing: var(--h6-16px-regular-inter-letter-spacing);
  line-height: var(--h6-16px-regular-inter-line-height);
  white-space: nowrap;
  font-style: var(--h6-16px-regular-inter-font-style);
}

.fomulir-dasboard .logo-rm {
  position: absolute;
  width: 82px;
  height: 42px;
  top: 16px;
  left: 33px;
  object-fit: cover;
}

.fomulir-dasboard .overlap-group {
  position: absolute;
  width: 1386px;
  height: 966px;
  top: 482px;
  left: 27px;
  background-color: #ffffff;
  border-radius: 8px;
}

.fomulir-dasboard .frame-9 {
  display: flex;
  width: 108px;
  height: 26px;
  position: absolute;
  top: 17px;
  left: 1259px;
  border-color: #09c50982;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid;
}

.fomulir-dasboard .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -5px;
  margin-bottom: -3px;
  margin-left: -12px;
  margin-right: -12px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.fomulir-dasboard .overlap-2 {
  position: absolute;
  width: 1309px;
  height: 755px;
  top: 96px;
  left: 39px;
}

.fomulir-dasboard .tulisan {
  position: absolute;
  width: 335px;
  height: 755px;
  top: 0;
  left: 3px;
}

.fomulir-dasboard .text-wrapper-5 {
  position: absolute;
  width: 162px;
  top: 0;
  left: 42px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-6 {
  position: absolute;
  width: 152px;
  top: 69px;
  left: 2px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-7 {
  position: absolute;
  width: 152px;
  top: 145px;
  left: 2px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-8 {
  position: absolute;
  width: 175px;
  top: 201px;
  left: 2px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-9 {
  position: absolute;
  width: 246px;
  top: 257px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-10 {
  position: absolute;
  width: 152px;
  top: 313px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-11 {
  position: absolute;
  width: 152px;
  top: 369px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-12 {
  position: absolute;
  width: 152px;
  top: 425px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-13 {
  position: absolute;
  width: 309px;
  top: 481px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-14 {
  position: absolute;
  width: 309px;
  top: 537px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-15 {
  position: absolute;
  width: 309px;
  top: 593px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-16 {
  position: absolute;
  width: 309px;
  top: 649px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .text-wrapper-17 {
  position: absolute;
  width: 309px;
  top: 705px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
}

.fomulir-dasboard .bulan {
  position: absolute;
  width: 1309px;
  height: 747px;
  top: 0;
  left: 0;
}

.fomulir-dasboard .overlap-wrapper {
  position: absolute;
  width: 1309px;
  height: 114px;
  top: 0;
  left: 2px;
}

.fomulir-dasboard .overlap-3 {
  position: relative;
  width: 1307px;
  height: 114px;
}

.fomulir-dasboard .text-wrapper-18 {
  width: 53px;
  left: 316px;
  position: absolute;
  top: 0;
  font-family: "Inter-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.fomulir-dasboard .div-2 {
  position: absolute;
  width: 1307px;
  height: 114px;
  top: 0;
  left: 0;
}

.fomulir-dasboard .overlap-4 {
  position: relative;
  height: 114px;
}

.fomulir-dasboard .rectangle {
  width: 1307px;
  top: 59px;
  background-color: #1e1e1e;
  position: absolute;
  height: 1px;
  left: 0;
}

.fomulir-dasboard .group {
  position: absolute;
  width: 58px;
  height: 114px;
  top: 0;
  left: 399px;
}

.fomulir-dasboard .text-wrapper-19 {
  position: absolute;
  width: 56px;
  top: 0;
  left: 0;
  font-family: "Inter-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.fomulir-dasboard .group-2 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 80px;
  left: 10px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .ellipse-wrapper {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 80px;
  left: 326px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .ellipse {
  position: relative;
  width: 21px;
  height: 21px;
  top: 3px;
  left: 3px;
  background-color: #1e1e1e;
  border-radius: 10.55px;
}

.fomulir-dasboard .group-3 {
  width: 58px;
  height: 114px;
  left: 482px;
  position: absolute;
  top: 0;
}

.fomulir-dasboard .group-4 {
  position: absolute;
  width: 58px;
  height: 114px;
  top: 0;
  left: 564px;
}

.fomulir-dasboard .group-5 {
  top: 80px;
  left: 11px;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-6 {
  position: absolute;
  width: 58px;
  height: 114px;
  top: 0;
  left: 646px;
}

.fomulir-dasboard .group-7 {
  position: absolute;
  width: 58px;
  height: 114px;
  top: 0;
  left: 729px;
}

.fomulir-dasboard .group-8 {
  position: absolute;
  width: 57px;
  height: 114px;
  top: 0;
  left: 811px;
}

.fomulir-dasboard .text-wrapper-20 {
  width: 55px;
  left: 0;
  position: absolute;
  top: 0;
  font-family: "Inter-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.fomulir-dasboard .group-9 {
  position: absolute;
  width: 58px;
  height: 114px;
  top: 0;
  left: 893px;
}

.fomulir-dasboard .group-10 {
  position: absolute;
  width: 58px;
  height: 114px;
  top: 0;
  left: 976px;
}

.fomulir-dasboard .group-11 {
  position: absolute;
  width: 72px;
  height: 114px;
  top: 0;
  left: 1052px;
}

.fomulir-dasboard .text-wrapper-21 {
  width: 70px;
  left: 0;
  position: absolute;
  top: 0;
  font-family: "Inter-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.fomulir-dasboard .group-12 {
  top: 80px;
  left: 18px;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-13 {
  position: absolute;
  width: 65px;
  height: 114px;
  top: 0;
  left: 1138px;
}

.fomulir-dasboard .text-wrapper-22 {
  width: 63px;
  left: 0;
  position: absolute;
  top: 0;
  font-family: "Inter-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.fomulir-dasboard .group-14 {
  top: 80px;
  left: 15px;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-15 {
  position: absolute;
  width: 70px;
  height: 114px;
  top: 0;
  left: 1219px;
}

.fomulir-dasboard .text-wrapper-23 {
  width: 68px;
  left: 0;
  position: absolute;
  top: 0;
  font-family: "Inter-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #232d42;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.fomulir-dasboard .group-16 {
  top: 80px;
  left: 17px;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .overlap-group-wrapper {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 139px;
  left: 2px;
}

.fomulir-dasboard .overlap-5 {
  position: relative;
  height: 48px;
}

.fomulir-dasboard .group-17 {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 0;
  left: 0;
}

.fomulir-dasboard .rectangle-2 {
  position: absolute;
  width: 1307px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #a7a9c0;
}

.fomulir-dasboard .group-18 {
  position: absolute;
  width: 119px;
  height: 34px;
  top: 14px;
  left: 326px;
}

.fomulir-dasboard .group-19 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 0;
  left: 0;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-20 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 0;
  left: 85px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-21 {
  top: 14px;
  left: 494px;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-22 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 577px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-23 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 659px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-24 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 742px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-25 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 824px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-26 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 906px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-27 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 989px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-28 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 1072px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-29 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 1155px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-30 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 1238px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .bulan-2 {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 195px;
  left: 2px;
}

.fomulir-dasboard .bulan-3 {
  position: absolute;
  width: 1305px;
  height: 48px;
  top: 251px;
  left: 2px;
}

.fomulir-dasboard .group-31 {
  width: 1305px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
}

.fomulir-dasboard .rectangle-3 {
  width: 1305px;
  top: 0;
  background-color: #a7a9c0;
  position: absolute;
  height: 1px;
  left: 0;
}

.fomulir-dasboard .group-32 {
  position: absolute;
  width: 119px;
  height: 34px;
  top: 14px;
  left: 324px;
}

.fomulir-dasboard .group-33 {
  top: 14px;
  left: 492px;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-34 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 575px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-35 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 657px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-36 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 740px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-37 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 822px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-38 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 904px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-39 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 987px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-40 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 1070px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-41 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 1153px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .group-42 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 1236px;
  border-radius: 16.88px;
  border: 3px solid;
  border-color: #000000;
}

.fomulir-dasboard .bulan-4 {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 307px;
  left: 0;
}

.fomulir-dasboard .bulan-5 {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 363px;
  left: 0;
}

.fomulir-dasboard .bulan-6 {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 419px;
  left: 0;
}

.fomulir-dasboard .bulan-7 {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 475px;
  left: 0;
}

.fomulir-dasboard .bulan-8 {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 531px;
  left: 0;
}

.fomulir-dasboard .bulan-9 {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 587px;
  left: 0;
}

.fomulir-dasboard .bulan-10 {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 643px;
  left: 0;
}

.fomulir-dasboard .bulan-11 {
  position: absolute;
  width: 1307px;
  height: 48px;
  top: 699px;
  left: 0;
}

.fomulir-dasboard .group-43 {
  position: absolute;
  width: 1389px;
  height: 596px;
  top: 1476px;
  left: 24px;
}

.fomulir-dasboard .frame-10 {
  height: 596px;
  background-color: #ffffff;
  border-radius: 8.79px;
  overflow: hidden;
  box-shadow: 0px 3.52px 3.52px #09c50921;
}

.fomulir-dasboard .frame-11 {
  display: flex;
  flex-direction: column;
  width: 1247px;
  height: 521px;
  align-items: flex-start;
  gap: 35.73px;
  position: relative;
  top: 33px;
  left: 66px;
}

.fomulir-dasboard .frame-12 {
  display: flex;
  width: 1244px;
  align-items: center;
  gap: 352.33px;
  padding: 5.25px 3.5px;
  position: relative;
  flex: 0 0 auto;
}

.fomulir-dasboard .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.47px;
  padding: 12.32px 0px;
  position: relative;
  flex: 0 0 auto;
}

.fomulir-dasboard .feed {
  position: relative;
  width: fit-content;
  margin-top: -0.88px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--variable-collection-BLACK);
  font-size: 22.4px;
  letter-spacing: -0.15px;
  line-height: 17.8px;
  white-space: nowrap;
}

.fomulir-dasboard .group-44 {
  position: relative;
  width: 150.51px;
  height: 17.43px;
}

.fomulir-dasboard .text-wrapper-24 {
  position: absolute;
  width: 132px;
  height: 17px;
  top: 0;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #09c509;
  font-size: 10px;
  letter-spacing: -0.13px;
  line-height: 16.2px;
  white-space: nowrap;
}

.fomulir-dasboard .ionicon-c-checkmark {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 2px;
  left: 0;
}

.fomulir-dasboard .img {
  position: relative;
  width: 698.17px;
  height: 29.3px;
  margin-right: -3.5px;
}

.fomulir-dasboard .group-45 {
  position: relative;
  width: 1244.1px;
  height: 362.46px;
}

.fomulir-dasboard .overlap-group-2 {
  position: relative;
  width: 1244px;
  height: 362px;
}

.fomulir-dasboard .frame-14 {
  display: flex;
  flex-direction: column;
  width: 69px;
  height: 326px;
  align-items: flex-start;
  gap: 23.65px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.fomulir-dasboard .element {
  width: 52.13px;
  position: relative;
  margin-top: -0.88px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .element-k {
  position: relative;
  width: 52.13px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .item {
  position: relative;
  width: 54.13px;
  height: 21px;
}

.fomulir-dasboard .element-2 {
  position: absolute;
  width: 52px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .group-46 {
  position: absolute;
  width: 1185px;
  height: 358px;
  top: 5px;
  left: 59px;
}

.fomulir-dasboard .vector {
  position: absolute;
  width: 1188px;
  height: 289px;
  top: 28px;
  left: -1px;
}

.fomulir-dasboard .frame-15 {
  display: flex;
  width: 1184px;
  align-items: flex-start;
  gap: 27px;
  position: absolute;
  top: 337px;
  left: 1px;
  border-radius: 20px;
}

.fomulir-dasboard .element-wrapper {
  position: relative;
  width: 7px;
  height: 21px;
}

.fomulir-dasboard .element-3 {
  position: absolute;
  width: 5px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .element-4 {
  position: relative;
  width: 7px;
  margin-top: -0.88px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .element-5 {
  position: relative;
  width: 8px;
  margin-top: -0.88px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .element-6 {
  width: 14px;
  position: relative;
  margin-top: -0.88px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .element-7 {
  width: 9px;
  position: relative;
  margin-top: -0.88px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .element-8 {
  width: 13px;
  position: relative;
  margin-top: -0.88px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .element-9 {
  position: relative;
  width: 16px;
  margin-top: -0.88px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .element-10 {
  width: 15px;
  position: relative;
  margin-top: -0.88px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .element-11 {
  width: fit-content;
  white-space: nowrap;
  position: relative;
  margin-top: -0.88px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}

.fomulir-dasboard .element-12 {
  width: 13px;
  margin-right: -0.41px;
  position: relative;
  margin-top: -0.88px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-BLACK);
  font-size: 12.4px;
  letter-spacing: 0;
  line-height: 21px;
}